TabMonConfigSectionGenerator/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="TabMon" elementFormDefault="qualified" targetNamespace="TabMon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="TabMonConfig" type="tns:TabMon.Config.TabMonConfigCT" />
	<xs:complexType name="TabMon.Config.TabMonConfigCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="Database" type="tns:TabMon.Config.DatabaseCT">
				<xs:annotation>
					<xs:documentation>Contains configuration information for the results database.  Only required if OutputMode is "DB".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="Clusters" type="tns:TabMon.Config.ClustersCT">
				<xs:annotation>
					<xs:documentation>Contains definitions of which machines to monitor and their logical clustering.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="PollInterval" type="tns:TabMon.Config.PollIntervalCT">
				<xs:annotation>
					<xs:documentation>Contains information about the polling frequency.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="OutputMode" type="tns:TabMon.Config.OutputModeCT">
				<xs:annotation>
					<xs:documentation>Contains information about the result output mode.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="TabMon.Config.ClusterCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Host" type="tns:TabMon.Config.HostCT">
				<xs:annotation>
					<xs:documentation>Represents an individual host.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The name of the cluster.  Used to logically group multiple hosts.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TabMon.Config.DatabaseCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="Server" type="tns:TabMon.Config.ServerCT">
				<xs:annotation>
					<xs:documentation>Contains information about the database server location.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="User" type="tns:TabMon.Config.UserCT">
				<xs:annotation>
					<xs:documentation>Contains information about the database user.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="Table" type="tns:TabMon.Config.TableCT">
				<xs:annotation>
					<xs:documentation>Contains information about the results table.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The type of database that this is.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The name of the instantiated database.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TabMon.Config.HostCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The hostname or IP address of the host to monitor.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TabMon.Config.ServerCT">
		<xs:attribute name="host" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The hostname or IP address of the database server.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="port" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The port number of the database server.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TabMon.Config.UserCT">
		<xs:attribute name="login" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The login for the database user.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="password" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The password of the database user.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TabMon.Config.TableCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The name of the database table to write results to.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TabMon.Config.PollIntervalCT">
		<xs:attribute name="value" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The interval between polling cycles, in seconds.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TabMon.Config.OutputModeCT">
		<xs:attribute name="value" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The output mode.  "CSV" for local flat file output, or "DB" for database output.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TabMon.Config.ClustersCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Cluster" type="tns:TabMon.Config.ClusterCT">
				<xs:annotation>
					<xs:documentation>Represents a logical grouping of hosts.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
</xs:schema>
